@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
    margin: 0;
    padding: 0;
}

/* Начало шапки сайта */

.pages-info {
    font-family: Roboto;
    margin-right: 10px;
    font-size: 11px;
}

p {
    font-family: Roboto;
}

header {
    background: #F5F5F6;
}

.pages {
    display: flex;
    justify-content: space-around;
}

.wrapper-header {
    display: flex;
    margin: 0 auto;
    max-width: 950px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.login-button {
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background: #FFFFFF;
    padding: 8px;
}
/* Конец шапки сайта */
h1 {
    font-family: Roboto;
    font-size: 40px;
}

.main-axis {
    margin: 0 auto;
    max-width: 640px;
    width: 100%;
}

.box {
    width: 100%;
    max-width: 260px;
}

.menu-box {
    display: flex;
    justify-content: space-between;
}

.input-head {
    font-size: 15px;
    color: #9F9F9F;
}

.choose {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid #E5E5E5; */
    border-radius: 3px;
    width: 100%;
    height: 35px;
    margin: 5px 0 20px 0; 
}

.sale-button, .buy-button {
    border: 1px solid #E5E5E5;
    flex-grow: 1;
}

.buy_selected {
    color: white;
    background: #833AE0;
}

.sale_selected {
    color: white;
    background: #833AE0;
}

.input-zone {
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    height: 100px;
    padding: 15px;
}

input {
    font-family: Roboto;
    font-size: 36px;
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    margin-top: 10px;
}

.sale-info, .buy-info {
    font-size: 15px;
    display: flex;
    color: #C6C6C6;
    margin-top: 20px;
}

